.header_container {
  background-color: #fff;
  padding: 14px 20px;
  margin-left: 74px;
  transition: margin-left 0.3s ease-in-out;
  border-bottom: 1px solid #dee2e6;
  height: 54px;
  &.header_container_expand {
    margin-left: 250px;
  }
  .header_logo_container {
    display: flex;
    align-items: center;
    .header_menu_icon {
      font-size: 24px;
      cursor: pointer;
    }
    .header_logo {
      margin-left: 20px;
      font-size: 20px;
      font-weight: 600;
    }
  }
}
